<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Escolher subcategoria para remover - Flask</title>
</head>
<body style="padding:20px">
{% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Subcategorias de {{ params.get("super") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td><a href="update_remove_subcategory?category={{ record[0] }}&super={{ params.get("super") }} ">Remover subcategoria</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>
</html>